.tab-close {
	margin-left: 10px;
	cursor: pointer;
}

.table-conent {
	padding: 20px;
}

.tab-pane {
	padding: 10px;
}

.jsgrid-row td, .jsgrid-alt-row td {
	overflow: hidden !important;
	font-size: 12px !important;
}

.jsGrid {
	min-height: 600px !important;
	width: 100% !important;
}

.node-icon.glyphicon-book + .check-icon, .node-icon.glyphicon-hdd  + .check-icon, .node-icon.glyphicon-bookmark + .check-icon, .node-icon.glyphicon-cog + .check-icon {
	display: none;
}

.node-icon.glyphicon-folder-close + .check-icon {
	display: none;
}

.check-icon + li {
	font-size: 10px;
}

.mode, .action_button {
	float: right;
	margin-left: 10px;
}

.modeWrapper {
	overflow: visible;
	margin-bottom: 20px;
	height: 40px;
}

.modeWrapper .btn .glyphicon {
	display: none;
}

.modeWrapper .btn.active .glyphicon {
	display: inline;
}

.gridsize {
	width: 50px;
	float: left;
	margin-right: 20px;
}

.dropdown-menu .glyphicon {
	margin-right: 5px;
}

.dropdown-menu .glyphicon-folder-open { color: #337ab7; }
.dropdown-menu .glyphicon-level-up { color: #337ab7; }
.dropdown-menu .glyphicon-floppy-disk { color: #5cb85c; }
.dropdown-menu .glyphicon-trash { color: #cc181e; }


/* CSS used here will be applied after bootstrap.css */
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
#js_container { display: none; }
#editor_mode { margin-left: 25px; margin-bottom: 20px; }
#js_container { width: 100%; }
#console_output { width: 100%;  min-height: 100px;}
#outputList {font-size: 11px;}
.fieldsContainer {margin: 15px;}