<!-- Nav tabs -->
<br/>
<ul class="nav nav-tabs" role="tablist">
</ul>

<!-- Tab panes -->
<div class="tab-content">

</div>

<!-- Custom CSS -->
<link href="/public/css/codemirror/codemirror.css" rel="stylesheet">
<link href="/public/css/codemirror/monokai.css" rel="stylesheet">

<script src="/public/javascripts/codemirror/codemirror.js"></script>
<script src="/public/javascripts/codemirror/mode/javascript.js"></script>
<script src="/public/javascripts/codemirror/addon/active-line.js"></script>
<script src="/public/javascripts/codemirror/addon/matchbrackets.js"></script>
 
<script type="text/template" id="tabTemplate">
	<li role='presentation'>
		<a id='<%= id %>' href='#content<%= id %>' aria-controls='home' role='tab' data-toggle='tab'>
			<%= name %>
			<i class='tab-close glyphicon glyphicon-remove'/>
		</a>
	</li>
</script>

<script type="text/template" id="contentTemplate">
	<div id='content<%= id %>' role='tabpanel' class='tab-pane'>
		<div class="modeWrapper">
				<% if ( editable ) { %>
					<div class='mode'>
							<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary <%= mode == "navigation" ? "" : "active" %>">  
								<input type="radio" name="options_<%= id %>" id="nav_<%= id %>" autocomplete="off" checked>Navegación
								<i class='glyphicon glyphicon-ok'/>
							</label>
							<label class="btn btn-success <%= mode == "editing" ? "" : "active" %>">
								<input type="radio" name="options_<%= id %>" id="edit_<%= id %>" autocomplete="off" >Edición
								<i class='glyphicon glyphicon-ok'/>
							</label>
							</div>
					</div>
				<% } %>			

				
				<div class="btn-group action_button">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Acciones <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<% if( isMaster ) { %>
									<li><a class="nav_plural" href="#all">Plurales de todos</a></li>
									<li><a class="nav_plural" href="#selected">Plurales Seleccionados</a></li>
									<li role="separator" class="divider"></li> 
							<% } %>
							<li><a class="nav_master" href="#all">Maestros de todos</a></li>
							<li><a class="nav_master" href="#selected">Maestros Seleccionados</a></li>
							<% if ( editable ) { %>
								<li role="separator" class="divider"></li>							
								<li><a class="v7_action" href="#eliminar_<%= id %>">Eliminar</a></li>
							<% } %>
							<li><a class="filter" href="#all">Filtrar</a></li>
						</ul>
				</div>
				<input type="text" class="form-control  gridsize" id="size_<%= id %>" value="20">
				<div id='pager<%= id %>'/>
		</div>

		<div class='jsGrid' id='grid<%= id %>'/>
	</div>
</script>

<script type="text/template" id="pluralsList">
		<% z = plurals.length %>
		<p>Selecciona el plural desplegar:</p>
		<select class="form-control" id="pluralSelect">
			<% for(i=0; i < z; i++) { %>
				<option value="<%= plurals[i].table + "#" + plurals[i].index %>" ><%= plurals[i].name %></option>
			<% } %>
		</select>
</script>

<script type="text/template" id="mastersList">
		<% z = masters.length %>
		<p>Selecciona el maestro desplegar:</p>
		<select class="form-control" id="masterSelect">
			<% for(i=0; i < z; i++) { %>
				<option value="<%= masters[i].table + "#" + masters[i].localId %>"><%= masters[i].name %></option>
			<% } %>
		</select>
</script>

<script type="text/template" id="filter">
			<div class="form-group">
				<label>Indice:</label>
				<select class="form-control" id="indexFilterSelect">
				<% z = indexes.length %>
				<% for(var i=0; i < z; i++) { %>
					<option value="<%= indexes[i].id %>"><%= indexes[i].name %></option>
				<% } %>
				</select>
			</div>
			<div class="form-group">
				<label>Resolusión:</label>
				<input type="text" class="form-control" id="indexResolve"/>
			</div>
			<div class="form-group">
				<label>Filtro:</label>
				<input type="text" id="filterScript" class="form-control" value=""/>
			</div>
</script>