<script type="text/javascript">
		window.token = "{{token}}";
</script>
<div id="navigation_container" >
		<!-- Nav tabs -->
		<br/>
		<ul class="nav nav-tabs" role="tablist"></ul>
		<!-- Tab panes -->
		<div class="tab-content"></div>
</div>

<div id="js_container">
		<h3>Editor</h3>
		<textarea id="js_editor" rows="4" cols="70"></textarea>
		<br/>
		<div id="buttonContainer">
			<a id="execScript" class="btn btn-success" href="#">Ejecutar</a>
			<a id="clearOutput" class="btn btn-primary" href="#">Limpiar</a>
		</div>
		<h3>Salida</h3>
		<div id="console_output">
			<table  class="table table-bordered">
				<tbody id="outputList">
				</tbody>
			</table>
		</div>
</div>

<!-- Custom CSS -->
<link href="/public/css/codemirror/codemirror.css" rel="stylesheet">
<link href="/public/css/codemirror/monokai.css" rel="stylesheet">
<link href="/public/css/jquery.jsonview.min.css" rel="stylesheet">

<script src="/public/javascripts/codemirror/codemirror.js"></script>
<script src="/public/javascripts/codemirror/mode/javascript.js"></script>
<script src="/public/javascripts/codemirror/addon/active-line.js"></script>
<script src="/public/javascripts/codemirror/addon/matchbrackets.js"></script>
<script src="/public/javascripts/jquery.jsonview.min.js"></script>

<script type="text/template" id="tabTemplate">
	<li role='presentation'>
		<a id='<%= id %>' href='#content<%= id %>' aria-controls='home' role='tab' data-toggle='tab'>
			<%= name %>
			<i class='tab-close glyphicon glyphicon-remove'/>
		</a>
	</li>
</script>

<script type="text/template" id="contentTemplate">
	<div id='content<%= id %>' role='tabpanel' class='tab-pane'>
		<div class="modeWrapper">
			<% if ( editable ) { %>
				<div class='mode'>
						<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary <%= mode == "navigation" ? "" : "active" %>">
							<input type="radio" name="options_<%= id %>" id="nav_<%= id %>" autocomplete="off" checked>Navegación
							<i class='glyphicon glyphicon-ok'/>
						</label>
						<label class="btn btn-success <%= mode == "editing" ? "" : "active" %>">
							<input type="radio" name="options_<%= id %>" id="edit_<%= id %>" autocomplete="off" >Edición
							<i class='glyphicon glyphicon-ok'/>
						</label>
						</div>
				</div>
			<% } %>

			<div class="btn-group action_button">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Acciones <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<% if( isMaster ) { %>
								<li><a class="nav_plural" href="#all"><span class="glyphicon glyphicon-folder-open"></span>Plurales</a></li>
						<% } %>
						<li><a class="nav_master" href="#all"><span class="glyphicon glyphicon-level-up"></span>Maestros</a></li>
						<li><a class="v7_export" href="#exportar_<%= id %>"><span class="glyphicon glyphicon-floppy-disk"></span>Exportar Excel</a></li>
						<li><a class="filter" href="#"><span class="glyphicon glyphicon-filter"></span>Filtrar</a></li>
						<li><a href="#" id="refresh_<%= id %>"><span class="glyphicon glyphicon-repeat"></span>Refrescar</a></li>
            			<li role="separator" class="divider"></li>
            			<li><a class="processes" href="#all"><span class="glyphicon glyphicon-cog"></span>Procesos</a></li>
						<% if ( editable ) { %>
							<li role="separator" class="divider"></li>
							<li><a href="#" class="v7_action" id="eliminar_<%= id %>"><span class="glyphicon glyphicon-trash"></span>Eliminar</a></li>
						<% } %>
					</ul>
			</div>
			<input type="text" class="form-control  gridsize" id="size_<%= id %>" value="20">
			<div id='pager<%= id %>'/>
		</div>

		<div class='jsGrid' id='grid<%= id %>'/>
	</div>
</script>

<script type="text/template" id="pluralsList">
		<% z = plurals.length %>
		<p>Selecciona el plural desplegar:</p>
		<select class="form-control" id="pluralSelect">
			<% for(i=0; i < z; i++) { %>
				<option value="<%= plurals[i].table + "#" + plurals[i].index %>" ><%= plurals[i].name %></option>
			<% } %>
		</select>
</script>

<script type="text/template" id="mastersList">
		<% z = masters.length %>
		<p>Selecciona el maestro desplegar:</p>
		<select class="form-control" id="masterSelect">
			<% for(i=0; i < z; i++) { %>
				<option value="<%= masters[i].table + "#" + masters[i].localId %>"><%= masters[i].name %></option>
			<% } %>
		</select>
</script>

<script type="text/template" id="filter">
		<div class="form-group">
			<label>Filtro:</label>
			<input type="text" id="filterScript" class="form-control" value=""/>
		</div>
</script>

<script type="text/template" id="process">
      <form id="process_form" action="#" class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Proceso</label>
            <div class="col-sm-10">
              <select class="form-control" id="process_id" name="proceso">
                  <% z = processes.length %>
                  <% for(var i=0; i < z; i++) { %>
                    <option value="<%= processes[i].id %>"><%= processes[i].id %></option>
                  <% } %>
              </select>
            </div>
          </div>
          <div id="vars_container"/>
      </form>
</script>

<script type="text/template" id="execQuery">
      <form id="query_form" action="#" class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Busqueda</label>
            <div class="col-sm-10">
								<input type="text" value="<%= id %>" name="query" class="form-control input-sm"/>
            </div>
          </div>
          <div id="vars_container"/>
      </form>
</script>

<script type="text/template" id="vars">
    <% var varsLength = vars.length; %>
		<% if( varsLength > 0 ) { %>
			 <h4 style="border-bottom: 1px solid rgb(220,220,220); padding-bottom: 10px;">Variables</h4>
		    <% for(var x=0; x < varsLength; x++) { %>
		        <div class="form-group">
		            <label class="col-sm-5 control-label"><%= vars[x] %></label>
		            <div class="col-sm-7">
		                <input type="text"  name="<%= vars[x] %>" class="form-control input-sm"/>
		            </div>
		        </div>
		    <% } %>
		<% } %>
</script>