<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
   <!-- Meta-->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">
   <title>iFactura - Registro</title>
   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->

   <!-- Bootstrap CSS-->
   <link rel="stylesheet" href="/public/css/ifactstyles.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

   <!-- App CSS-->
   <link rel="stylesheet" href="/public/css/login.css">
   <link rel="stylesheet" href="/public/css/common.css">

   <!-- Modernizr JS Script-->
   <script src="/public/javascripts/modernizr.js" type="application/javascript"></script>
   <script src="/public/javascripts/fastclick.js" type="application/javascript"></script>
</head>

<body>
   <!-- START wrapper-->
   <div class="row row-table page-wrapper">
      <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">
         <!-- START panel-->
         <div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark panel-flat">
            <div class="panel-heading text-center mb-lg">
               <a href="#">
                  <img src="https://s3.amazonaws.com/ifactura/ifact_logo.png" alt="Image" class="block-center img-rounded">
               </a>
               <p class="text-center mt-lg">
                  <strong>Registrate</strong>
               </p>
            </div>
            <div class="panel-body">
               <form role="form" action="/users" method="POST">
                  <div class="form-group has-feedback">
                     <label for="signupInputEmail1" class="text-muted">Email:</label>
                     <input id="signupInputEmail1" name="email" type="email" placeholder="Entra el email" class="form-control">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <label for="signupInputPassword1" class="text-muted">Contraseña</label>
                     <input id="signupInputPassword1" name="password" type="password" placeholder="Contraseña" class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <label for="signupInputRePassword1" class="text-muted">Repite Contraseña</label>
                     <input id="signupInputRePassword1" type="password" placeholder="Repite Contraseña" class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="clearfix">
                     <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                           <input type="checkbox" name="terms" value="">
                           <span class="fa fa-check"></span>Estoy de acuerdo con los <a href="#">terminos</a>
                        </label>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-success">Registrarse</button>
               </form>
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
   <!-- END wrapper-->
   <!-- START Scripts-->
   <script src="/public/javascripts/ifactpagesdependencies.js"></script>
   <script src="/public/javascripts/pages.js"></script>
   <!-- END Scripts-->
</body>

</html>
