<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
   <!-- Meta-->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <title>AtcalQuiz Login</title>
   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->

   <!-- Bootstrap CSS-->
   <link rel="stylesheet" href="/public/css/ifactstyles.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

   <!-- App CSS-->
   <link rel="stylesheet" href="/public/css/login.css">
   <link rel="stylesheet" href="/public/css/common.css">

   <!-- Modernizr JS Script-->
   <script src="/public/javascripts/modernizr.js" type="application/javascript"></script>
   <script src="/public/javascripts/fastclick.js" type="application/javascript"></script>
</head>

<body>
   <!-- START wrapper-->
   <div class="row row-table page-wrapper" style="background-color: #1b4068;">
      <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12 align-middle">
         <div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark b0">
            <div class="panel-heading text-center p-lg" style="background-color: #fff;">
               <a href="/login">
                  <img src="http://atcalsas.com/themes/front/img/logo.png" alt="Image" class="block-center img-rounded">
               </a>
            </div>
            <div class="panel-group" style="padding: 20px; margin-top: 30px;">
                  {{{ terms }}}
            </div>
         </div>
      </div>
   </div>
   <!-- END wrapper-->
   <!-- START Scripts-->
   <!-- Main vendor Scripts-->
   <script src="/public/javascripts/ifactpagesdependencies.js"></script>
   <!-- Custom sript for pages-->
   <script src="/public/javascripts/pages.js"></script>
   <!-- END Scripts-->
</body>

</html>
